h1 {
    color: var(--primaryFontColor);
    font-size: var(--fontSize);
    font-weight: var(--primaryFontWeight);
    font-style: var(--primaryFontStyle);
}

:host {
    background-color: var(--primaryHeaderColor);
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
}